mlflow==2.19.0
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
dagshub==0.3.19
cloudpickle==3.0.0
pyyaml==6.0.1
protobuf==4.25.3
joblib==1.4.2
requests==2.32.3
tqdm==4.66.3
python-dotenv==1.0.1
packaging==24.1
category-encoders==2.6.3
